      <div class="well">
    <div class="row">
      <div class="col-md-12">
        <p><i><b>Ticket backlogs over time</b></i></p>

        <p>Evolution of the backlog of tickets in the different states over time.</p>

        <p>Each chart represents, for each of the states defined for tickets, how
        many tickets were in that state the first day of each period (eg, the
        first day of each month).</p>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12">-->
    <div class="row">
          <div class="col-md-4">
        <div class="MetricsEvol" data-data-source="its" data-metrics="New"
         data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
        <div class="MetricsEvol" data-data-source="its" data-metrics="Assigned"
         data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
        <div class="MetricsEvol" data-data-source="its" data-metrics="Closed"
         data-min="true" style="height:120px;"></div>
          </div>
    </div>
    <div class="row">
          <div class="col-md-4">
        <div class="MetricsEvol" data-data-source="its" data-metrics="Reopened"
         data-min="true" style="height:120px;"></div>
          </div>
    </div>
      </div>
      <div class="well">
    <div class="row">
      <div class="col-md-12">
        <p><i><b>Structure of the current backlog</b></i></p>

        <p>Age structure of tickets, by current state.</p>

        <p>Each chart represents, for all tickets currently in a given state, how
        many of them were opened during each of the periods (eg., how many were
        opened for each of the months).</p>

      </div>
    </div>
    <!-- -->
    <div class="row">
          <div class="col-md-4">
        <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_New"
         data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
        <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_Assigned"
         data-min="true" style="height:120px;"></div>
          </div>
          <div class="col-md-4">
        <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_Closed"
         data-min="true" style="height:120px;"></div>
          </div>
    </div>
    <div class="row">
          <div class="col-md-4">
        <div class="MetricsEvol" data-data-source="its" data-graph="bars" data-metrics="current_Reopened"
         data-min="true" style="height:120px;"></div>
          </div>
    </div>
      </div>

  </div>
